<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>
  <body>
    <%- include("../../partials/navbar.ejs") %>
    <section class="blogs__container">
      <div>
        <h1>ALL BLOGS</h1>
      </div>

      <article class="blog">
        <% for (let blog of blogs) { %>

        <div class="details">
          <img src="/images/bg4.jpg" alt="IMAGE" />
          <div>
            <h2><%= blog.title.substring(0, 70) + '...' %></h2>
          </div>
          <div>
            <p><%= blog.snippet.substring(0, 70) + '...' %></p>
          </div>
          <div>
            <a href="/api/v1/user/profile/<%=blog?.postedBy?._id %>">
              Posted By : <%= blog?.postedBy?.firstname %>
            </a>
            <span><%= blog?.postedBy?.profession %></span>
          </div>

          <div>
            <a href="/api/v1/blog/post/<%=blog?._id %>">
              <button>Read More</button>
            </a>
          </div>
          <div>
            <span><%= blog?.category %></span>
          </div>
        </div>
        <% } %>
      </article>
    </section>

    <%- include('../../partials/footer'); -%>
  </body>
</html>
