<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>
  <body>
    <%- include("../../partials/navbar.ejs") %>

    <section class="blogs__container">
      <article class="hero">
        <div class="content">
          <h1>Immerse. Explore. Discover.</h1>
          <h6>- Writings From Gubi</h6>
        </div>
      </article>

      <article class="blog">
        <% for (let blog of blogs) { %>

        <div class="details">
          <a href="/api/v1/blog/post/<%=blog?._id %>">
            <img src="/images/bg5.jpg" alt="IMAGE" />
          </a>
          <div class="title">
            <h2><%= blog.title.substring(0, 70) + '...' %></h2>
          </div>
          <div class="snippet">
            <p><%= blog.snippet.substring(0, 70) + '...' %></p>
          </div>
          <div class="blog-info">
            <a href="/api/v1/user/profile/<%=blog?.postedBy?._id %>">
              <img src="/images/bg.jpg" alt="Profile picture" />
              <div>
                <p><%= blog?.postedBy?.firstname %></p>
                <span><%= blog?.postedBy?.profession %></span>
              </div>
            </a>

            <div class="read-btn">
              <a href="/api/v1/blog/post/<%=blog?._id %>">
                <button><i class="fa fa-arrow-right"></i></button>
              </a>
            </div>
          </div>

          <div class="category">
            <span><%= blog?.category %></span>
          </div>
        </div>
        <% } %>
      </article>
    </section>

    <%- include('../../partials/footer'); -%>
  </body>
</html>
