<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/navbar.ejs") %>

    <a class="goBack" onclick="window.history.back()"> &larr; </a>
    <div class="blog-details">
      <div class="content">
        <h2>TITLE : <%= blog.title %></h2>
        <h2>SNIPPET : <%= blog.snippet %></h2>
        <p>BODY : <%= blog.body %></p>
        <p class="time">POSTED: <%= moment(blog.updatedAt).fromNow() %></p>
      </div>

      <% if (user) { %>
      <div class="actions">
        <a class="edit" href="/api/v1/blogs/edit/<%= blog._id %>">
          <button>
            <img src="/images/edit.png" alt="delete icon" class="delete" />
            EDIT
          </button>
        </a>

        <button class="delete" data-doc="<%= blog._id %>">
          <img src="/images/trashcan.svg" alt="delete icon" />DELETE
        </button>
      </div>
      <% } else { %> <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>
    <script src="/js/singleBlogDetailsPageScript.js"></script>
  </body>
</html>
