<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/navbar.ejs") %>
    <a class="goBack"> &larr; </a>
    <div class="blog-details">
      <div class="content">
        <h2><%= blog.title %></h2>
        <p><%= blog.body %></p>
        <a class="edit" href="/api/blogs/edit/<%= blog._id %>">
          &#10000; EDIT
        </a>
      </div>
      <a class="delete" data-doc="<%= blog._id %>">
        <img src="/images/trashcan.svg" alt="delete icon" />
      </a>
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
      const arrowBack = document.querySelector("a.goBack");
      const trashcan = document.querySelector("a.delete");

      arrowBack.addEventListener("click", () => {
        window.history.back();
      });

      trashcan.addEventListener("click", (e) => {
        const endpoint = `/api/blogs/${trashcan.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
