<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/navbar.ejs") %>
    <a class="goBack"> &larr; </a>
    <div class="blog-form">
      <form  method="POST"  data-doc="<%= blog._id %>">
        <label for="title">Blog title:</label>
        <input
          type="text"
          id="title"
          name="title"
          required
          value="<%=  blog.title %>"
        />
        <label for="snippet">Blog snippet:</label>
        <input
          type="text"
          id="snippet"
          name="snippet"
          required
          value="<%=  blog.snippet %>"
        />
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" required><%=  blog.body %></textarea>
        <button class="edit">Submit</button>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
      const arrowBack = document.querySelector("a.goBack");

      arrowBack.addEventListener("click", () => {
        window.history.back();
      });

      const form = document.querySelector("form");
  

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // get values
        const title = form.title.value;
        const snippet = form.snippet.value;
        const body = form.body.value;

        try {
          const res = await fetch(`/api/blogs/edit/${form.dataset.doc}`, {
            method: "POST",
            body: JSON.stringify({ title, snippet,body }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          setTimeout(function () {
            
            alert(data.message);
            window.location.href = data.redirect;
}, 3000);
         
         
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
