<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <main>
      <%- include("./partials/navbar.ejs") %>

      <div class="blog-list">
        <h2>All Blogs</h2>

        <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
        <article class="single">
          <div class="details_link">
            <a href="/api/blogs/<%= blog._id %>">
              <h3 class="title">TITLE : <%= blog.title %></h3>
            </a>
            <p class="snippet">SNIPPET : <%= blog.snippet %></p>
            <p class="time"><%= moment(blog.updatedAt).fromNow() %></p>

  
            <a class="edit" href="/api/blogs/edit/<%= blog._id %>">
              &#10000; EDIT
            </a>
          </div>

          <% }) %> <% } else { %>
          <p>There are no blogs to display...</p>
          <% } %>
        </article>
      </div>

      <div class="blog-form">
        <form  method="POST">
          <label for="title">Blog title:</label>
          <input type="text" id="title" name="title" required />
          <label for="snippet">Blog snippet:</label>
          <input type="text" id="snippet" name="snippet" required />
          <label for="body">Blog body:</label>
          <textarea id="body" name="body" required></textarea>
          <button>Submit</button>
        </form>
      </div>

      <%- include("./partials/footer.ejs") %>
    </main>

   <script>
 const form = document.querySelector("form");
  

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // GET FORM VALUES
    const title = form.title.value;
    const snippet = form.snippet.value;
    const body = form.body.value;

    try {
      const res = await fetch(`/api/blogs/`, {
        method: "POST",
        body: JSON.stringify({ title, snippet,body }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      setTimeout(function () {
        alert(data.message);
        window.location.href = data.redirect;
}, 3000);
     
     
    } catch (err) {
      console.log(err);
    }
  });


</script>
  </body>
</html>
