<!DOCTYPE html>
<html lang="en">
  <%- include("../../../partials/head.ejs") %>
  <body>
    <%- include("../../../partials/navbar.ejs") %>

    <section>
      <form
        id="editBlogForm"
        action="/api/v1/blog/edit/post/<%= post._id %>"
        method="POST"
      >
        <h2>Edit Blog Post</h2>

        <div>
          <label for="title">Title</label>
          <input
            autocomplete="on"
            type="text"
            id="title"
            name="title"
            value="<%= post.title %>"
            required
          />
        </div>
        <div>
          <label for="category">Category</label>
          <input
            autocomplete="on"
            type="text"
            id="category"
            name="category"
            value="<%= post.category %>"
            required
          />
        </div>
        <div>
          <label for="snippet">Snippet</label>
          <input
            autocomplete="on"
            type="text"
            id="snippet"
            name="snippet"
            value="<%= post.snippet %>"
            required
          />
        </div>
        <div>
          <label for="snippet">Your Post Content</label>
          <input
            autocomplete="on"
            type="text"
            required
            name="content"
            id="content"
            value="<%= post.content %>"
            required
          />
        </div>

        <button>Submit</button>
        <% if (locals.error) { %>
        <p><%= message %></p>
        <% } %>
      </form>
    </section>
    <%- include('../../../partials/footer'); -%>
  </body>
</html>
