<!DOCTYPE html>
<html lang="en">
  <%- include("../../../partials/head.ejs") %>
  <body>
    <%- include("../../../partials/navbar.ejs") %>

    <section>
      <div>
        <div>
          <div>
            <div>
              <div>
                <h5><%= post.date %></h5>
                <p><%= post.category %></p>
              </div>
            </div>

            <h1><%= post.snippet %></h1>
            <p><%= post.content %></p>
            <div>
              <button>
                <a href="/api/v1/blog/edit/post/<%= post._id %>"
                  >EDIT <i class="fa fa-trash"></i>
                </a>
              </button>

              <form
                action="/api/v1/blog/delete/post/<%= post._id %>"
                method="POST"
              >
                <button type="submit">
                  DELETE
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("../../../partials/footer.ejs") %>

    <script src="/js/delete-blog__script.js"></script>
  </body>
</html>
