<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <section
      class="text-gray-400 body-font bg-gray-900 flex justify-center items-center p-3 m-2 rounded-t-full"
    >
      <form
        id="editBlogForm"
        action="/api/v1/blog/edit/post/<%= post._id %>"
        class="lg:w-1/2 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col m-auto w-full md:mt-0 h-full mt-80"
      >
        <h2
          class="text-white text-lg font-medium title-font mb-5 flex justify-center items-center"
        >
          Edit Blog Post
        </h2>

        <div class="relative mb-4">
          <label for="title" class="leading-7 text-sm text-gray-400"
            >Title</label
          >
          <input
            autocomplete="on"
            type="text"
            id="title"
            name="title"
            value="<%= post.title %>"
            required
            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-green-900 rounded border border-gray-600 focus:border-green-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
        <div class="relative mb-4">
          <label for="category" class="leading-7 text-sm text-gray-400"
            >Category</label
          >
          <input
            autocomplete="on"
            type="text"
            id="category"
            name="category"
            value="<%= post.category %>"
            required
            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-green-900 rounded border border-gray-600 focus:border-green-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
        <div class="relative mb-4">
          <label for="snippet" class="leading-7 text-sm text-gray-400"
            >Snippet</label
          >
          <input
            autocomplete="on"
            type="text"
            id="snippet"
            name="snippet"
            value="<%= post.snippet %>"
            required
            class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-green-900 rounded border border-gray-600 focus:border-green-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
        <div class="relative mb-4">
          <label for="snippet" class="leading-7 text-sm text-gray-400"
            >Your Post Content</label
          >
          <input
            autocomplete="on"
            type="text"
            required
            name="content"
            id="content"
            value="<%= post.content %>"
            required
            class="w-full h-40 bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-green-900 rounded border border-gray-600 focus:border-green-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>

        <button
          class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg"
        >
          Submit
        </button>
        <p class="text-xs mt-3 gubi-info"></p>
      </form>
    </section>

    <%- include("./partials/footer.ejs") %>
    <script src="/js/edit-blog__script.js"></script>
  </body>
</html>
