<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <section class="hero">
      <div class="content">
        <h1>THE GUBI BLOG</h1>
        <h6>Cutting-Edge Insights</h6>
      </div>
    </section>
    <main class="home">
      <section class="blogs">
        <% for (let blog of blogs.filter(blog => blog.featured)) { %>

        <div class="details">
          <a href="/api/v1/blog/post/<%=blog?._id %>">
            <img src="/images/bg5.jpg" alt="IMAGE" />
          </a>
          <div>
            <h2><%= blog.title.substring(0, 70) + '...' %></h2>
          </div>
          <div>
            <p><%= blog.snippet.substring(0, 70) + '...' %></p>
          </div>
          <div class="blog-info">
            <a href="/api/v1/user/profile/<%=blog?.postedBy?._id %>">
              <img src="/images/bg.jpg" alt="Profile picture" />
              <div>
                <p><%= blog?.postedBy?.firstname %></p>
                <span><%= blog?.postedBy?.profession %></span>
              </div>
            </a>

            <div class="read-btn">
              <a href="/api/v1/blog/post/<%=blog?._id %>">
                <button><i class="fa fa-arrow-right"></i></button>
              </a>
            </div>
          </div>

          <div class="category">
            <span><%= blog?.category %></span>
          </div>
        </div>
        <% } %>
      </section>
    </main>

    <%- include('./partials/footer'); -%>
  </body>
</html>
