<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <h1><%= post.category %></h1>
    <h1><%= post.title %></h1>
    <h1><%= post.snippet %></h1>
    <h1><%= post.content %></h1>
    <h1><%= post.postedBy %></h1>
  </body>
</html>
