<section class="blogs">
  <% for (let blog of blogs) { %>

  <div class="details">
    <img src="/images/bg5.jpg" alt="IMAGE" />
    <div>
      <h2><%= blog.title.substring(0, 70) + '...' %></h2>
    </div>
    <div>
      <p><%= blog.snippet.substring(0, 70) + '...' %></p>
    </div>
    <div class="blog-user">
      <a href="/api/v1/user/profile/<%=blog?.postedBy?._id %>">
        <img src="/images/bg.jpg" alt="" />
        <%= blog?.postedBy?.firstname %>
      </a>
      <span><%= blog?.postedBy?.profession %></span>
    </div>

    <div class="read-btn">
      <a href="/api/v1/blog/post/<%=blog?._id %>">
        <button>Read More</button>
      </a>
    </div>
    <div>
      <span><%= blog?.category %></span>
    </div>
  </div>
  <% } %>
</section>
